#oldenburg {
  position: relative;
  background-size: contain;
  background-position: center;
  background-color: #353535;
  margin: 0 auto;
  background-repeat: no-repeat;
}

#oldenburg p {
  color: #ecf0f1;
  width: 700px;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  margin: auto;
}

#oldenBurgGraphic {
  width: 800px;
  margin: auto;
  background-color: #353535;
}

#oldenburg h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: "Francois One", sans-serif;
  color: #ecf0f1;
  font-size: 90px;
}

#oldenburg a {
  color: #2980b9;
}

.slashDivider {
  width: 600px;
  height: 32px;
  padding: 10px;
  margin: auto;
}

#dotDivider {
  width: 420px;
  height: 80px;
  margin: auto;
}
